
input[type="text"] {
    width: 100%;
    padding: 10px 20px 10px 0;
    border: none;
    outline: none;
}

button.btn__add {
    background-color: yellowgreen;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

input.form-control:focus{
    box-shadow: none;
}